//---- Settings
@import 'config/variables';

//---- Generics
@import 'config/reset';

//---- Generics
@import 'config/components';

//-----------------------------------------------------------------------------------------------
//----------------------------------------- HOME PAGE -------------------------------------------
//-----------------------------------------------------------------------------------------------
.Home{
    &__h1{ margin: 1em 0 1em .6em; text-decoration: underline }
    &__articlesContainer{ padding: 1em }
    &__createButton{
        width: 800px;
        position: relative;
        background-color: #FAEDBC;
        padding: 1em;   
        margin-bottom: 2em;
        color: #616161;

        & > svg{ vertical-align: bottom; }
    }

    &__pagination{
        margin-bottom: 2em;
        margin-top: 1.5em;
        
        & > span{ 
            color: #E0E0E0;
            margin-right: .5em;
            font-size: 2em;
            cursor: pointer;
        }
        & > span:hover{ color: #FAEDBC }
    }
}

//-----------------------------------------------------------------------------------------------
//---------------------------------- ARTICLE CARD -----------------------------------------------
//-----------------------------------------------------------------------------------------------
.ArticleCard{
    display: flex;
    max-width: 800px;
    gap: .5em;
    align-items: end;
    margin-top: .5em;
    padding-bottom: .5em;
    border-bottom: 1px solid #616161;

    &__image{ width: 8em; height: 5em; object-fit: cover }

    &__span{
        & > svg{ vertical-align: text-top; margin-right: 5px }
    }

    &__options{
        flex-grow: 1;
        display: flex;
        justify-content: end;
    }
    &__option{ cursor: pointer; }

    @media screen and (max-width:500px){
        &__h3{ font-size: 1em }
        &__span{ font-size: .85em; }
    }
}
.ArticleCard:nth-child(2){ margin-top: 2em; }

//-----------------------------------------------------------------------------------------------
//---------------------------------- CREATE PAGE-------------------------------------------------
//-----------------------------------------------------------------------------------------------
.Form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 5em 5em auto auto auto;
    gap: 1.5em;
    max-width: 1000px;
    width: 100%;
    margin-bottom: 3em;
    padding: 0 1em;

    
    &__textarea{ resize: none; width: 100%; }

    &__imageContainer{
        border: #616161 dashed 4px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        & > svg{
            position: absolute;
            cursor: pointer;
            transform: scale(1.5);
            transition: transform .3s;
            &:hover{ transform: scale(2.5); }
        }
    }

    &__image{ width: 100%; height: 100%; object-fit: cover }
    &__newImage{
        background-color: #616161;
        padding: .8em;
        color: #000;
        cursor: pointer;
        transform: scale(1);
        transition: transform .3s;
        &:hover{ transform: scale(1.04); }

        & > svg{ vertical-align: middle; margin-right: .3em; }
    }

    &__input{
        align-self: center;
        padding: 1em .5em;
        font-size: 1.1em;
        outline: none;
        width: 100%;
    }

    &__submit{
        background-color: #FAEDBC;
        outline: none;
        border: none;
        padding: 1em;
        cursor: pointer;
        font-weight: 700;
    }
}



//-----------------------------------------------------------------------------------------------
//---------------------------------- SQUELETON --------------------------------------------------
//-----------------------------------------------------------------------------------------------
.ArticlePreload{ 
    display: flex;
    gap: .5em;
    height: 5em;
    max-width: 800px;
    margin-top: 1.5em;
    animation-name: preload;
    animation-timing-function: ease-out;
    animation-duration: 4s;
    animation-iteration-count: infinite;

    &:nth-child(2){ margin-top: 2.5em }

    &__image, &__text, &__title{ background-color: #979797cc }
    &__image{ width: 120px; height: 100% }
    &__div{ display: flex; flex-direction: column; gap: .5em; justify-content: flex-end; width: 70%; }
    &__text{ max-width: 80%; height: .8em }
    &__title{ width: 100%; height: 1.8em }
}   

@keyframes preload{
    0%{ opacity: 1; }
    25%{ opacity: .05 }
    50%{ opacity: 1 }
    75%{ opacity: .05 }
    100%{ opacity: 1 }
}